<a href="https://colab.research.google.com/github/lena110200/Class2022-spring/blob/master/20220328.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install gradio
import gradio as gr
import requests
import pandas as pd

In [66]:
URL=('http://apis.data.go.kr/1661000/EmergencyStatisticsService/'
'getTrafficAccidentEmgActStats?'
'serviceKey=adgNyE%2FxelU10iM70NZqMK9G27yKcE5tNCEaSiXpKa6NKORUXw5fU7qErYZL5%2BC0p2ZcRGhQUxxjasT7Oi58OQ%3D%3D'
'&numOfRows=2'
'&pageNo=1'
'&resultType=json'
'&sidoHqOgidNm=인천소방본부'
'&rsacGutFsttOgidNm=부평소방서'
'&rcptYm=202101'
'&rlifOccrTyCdNm=기타')
response = requests.get(URL)

In [67]:
r = response.json()
r

{'body': {'items': [{'gutCo': 25,
    'rcptYm': '202101',
    'rlifAcdAsmCdNm': '운전자',
    'rlifOccrTyCdNm': '기타',
    'rsacGutFsttOgidNm': '부평소방서',
    'sidoHqOgidNm': '인천소방본부',
    'trnfCo': 25,
    'trnfPcnt': 25},
   {'gutCo': 17,
    'rcptYm': '202101',
    'rlifAcdAsmCdNm': '보행자',
    'rlifOccrTyCdNm': '기타',
    'rsacGutFsttOgidNm': '부평소방서',
    'sidoHqOgidNm': '인천소방본부',
    'trnfCo': 17,
    'trnfPcnt': 17}]},
 'header': {'resultCode': '00', 'resultMsg': 'NORMAL SERVICE'},
 'numOfRows': 2,
 'pageNo': 1,
 'totalCount': 6}

In [69]:
items=r['body']['items']
items

[{'gutCo': 25,
  'rcptYm': '202101',
  'rlifAcdAsmCdNm': '운전자',
  'rlifOccrTyCdNm': '기타',
  'rsacGutFsttOgidNm': '부평소방서',
  'sidoHqOgidNm': '인천소방본부',
  'trnfCo': 25,
  'trnfPcnt': 25},
 {'gutCo': 17,
  'rcptYm': '202101',
  'rlifAcdAsmCdNm': '보행자',
  'rlifOccrTyCdNm': '기타',
  'rsacGutFsttOgidNm': '부평소방서',
  'sidoHqOgidNm': '인천소방본부',
  'trnfCo': 17,
  'trnfPcnt': 17}]

In [75]:
gutCo = [item['gutCo'] for item in items]
rlifAcdAsmCdNm = [item['rlifAcdAsmCdNm'] for item in items]
trnfCo = [item['trnfCo'] for item in items]
sidoHqOgidNm = [item['sidoHqOgidNm'] for item in items]

gutCo = pd.Series(gutCo)
rlifAcdAsmCdNm = pd.Series(rlifAcdAsmCdNm)
trnfCo = pd.Series(trnfCo)
sidoHqOgidNm = pd.Series(sidoHqOgidNm)

df = pd.DataFrame({ 'gutCo': gutCo,'rlifAcdAsmCdNm':rlifAcdAsmCdNm,'trnfCo':trnfCo,'sidoHqOgidNm':sidoHqOgidNm})
df

   gutCo rlifAcdAsmCdNm  trnfCo sidoHqOgidNm
0     25            운전자      25       인천소방본부
1     17            보행자      17       인천소방본부

In [ ]:
iface = gr.Interface(sum, gr.inputs.Dropdown(['25','17']), outputs=['dataframe'])
iface.launch(debug=True)