<a href="https://colab.research.google.com/github/lena110200/Class2022-spring/blob/master/variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a = 1; print(type(a))

<class 'int'>

In [2]:
print(a) #변수안의 내용이 나옴

1

int: 정수 
print(type(a)): a의 type을 보여줘라 

실수(float) : 1.1 ,1.0

In [ ]:
a = 1.1; print(type(a))

<class 'float'>

In [ ]:
a = '123'; print(type(a)); print(a[1]) #quote를 해주면 str

<class 'str'>
2

string '' 
숫자여도 quote가 있으면 str

In [ ]:
a = 'hello'; print(type(a)); print(a[1])

<class 'str'>
e

In [ ]:
a = [1, 2, 3, 4]; print(type(a)); print(a[0])

<class 'list'>
1

변수에는 숫자, 문자, list 있음. 
list- 여러개를 담을 수 있음. [] 대괄호 사용 , 숫자 문자 들어갈 수 있음 

4개의 item 중 부분만 사용 
: a[0] - a의 0번째

In [ ]:
a[1:3] #print안해도 됨. / 젤 마지막 줄은 print를 안해도됨

[2, 3]

1번째부터 2번째 포함하고 싶으면 1:3해야함 
- 뒤에 숫자는 그 숫자를 포함하지 않음.

In [ ]:
a[:] #젤 처음부터 끝까지

[1, 2, 3, 4]

In [ ]:
a[2:] #[ : 4]하면 첨부터

[3, 4]

In [ ]:
a[2:-1] #끝에서 하나 뺀

[3]

In [6]:
a = [1,'a', [3, '4']]; print(type(a)); print(a[0]); print(a[1]); print(a[2]); print(a[2][1]) #item 3개

<class 'list'>
1
a
[3, '4']
4

숫자, str, list포함 /
item 3개 

a[2][1] : 두번째 중에 첫번째 -> 4

In [9]:
a[2][1]

'4'

In [ ]:
a= 'abcdef123' #9 chars

In [ ]:
type(a)

str

In [ ]:
a[:3]#처음부터 012

'abc'

In [ ]:
a[3:-1] #d부터 2까지

'def12'

list랑 str은 indexing하는 방법이 같음 

변수) 숫자, string, list, dict
list ~ tuple(괄호사용) - 내부 info를 바꾸는게 안되게있음

In [ ]:
a =	{"a": "apple", "b": "orange", "c": 2014} #dict / 3개의 item / ""말고''해도됨
#"key" : "value"  
#안에 있는 걸 '' str으로 바꿔도 ㄱㅊ 
print(type(a))
print(a["a"]) #a라는 key에 있는 내용을 가져와라 / key에 숫자와도 됨 
#숫자의 정보는 x a[0]하면 에러

<class 'dict'>
apple